.M-container {
  background-color: white;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-family: roboto;
}

.heading {
  color: black;
  font-size: 50px;
  font-weight: bold;
  margin: 20px;
}

.list-container {
  background-size: cover;
  max-width: 65vw;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: roboto;
  list-style-type: none;
}

.searchBar {
  background-color: #f1f5f9;
  padding: 5px;
  border-radius: 10px;
}

.input {
  background-color: transparent;
  border: 0px;
  margin-right: 20px;
}

.img {
  width: 25px;
  height: 25px;
}
